node_modules/
.next/
_backup/
.env*
*.log

# Ignorar fuentes pesadas de diseño
ui-kit/**/*.fig
ui-kit/**/*.sketch
ui-kit/**/*.xd

# UI kit fuentes de diseño
*.fig
ui-kit/**/*.fig
*.zip
ui-kit/**/*.zip

# Backups
GUARDADO*/
